@import "../node_modules/materialize-css/sass/materialize";

$primary-color: #00897b;
$primary-color-text: #fff;
$accent-color: #ffab40;
$accent-color-text: #000;

.primary-color-background {
  background: $primary-color;
}

.primary-color-text {
  color: $primary-color-text;
}

.primary-color {
  @extend .primary-color-background, .primary-color-text;
}

.accent-color-background {
  background: $accent-color;
}

.accent-color-text {
  color: $accent-color-text;
}

.accent-color {
  @extend .accent-color-background, .accent-color-text
}

.root-layout {
  border-radius: 25px;
  margin-top: 10%;
  padding: 25px;
  min-width: 250px;
  margin-left: auto;
  margin-right: auto;
  @extend .col, .offset-xl4, .xl4, .offset-l4, .l4, .offset-m2, .m6, .offset-s2, .s6, .z-depth-5, .primary-color
}

@media only screen and (max-width: 480px) {
  .xs_image {}
}

@media only screen and (max-width: 720px) {
  .s_image {}
}

@media only screen and (max-width: 1080px) {
  .l_image {}
}

@media only screen and (max-width: 1620px) {
  .xl_image {}
}

@media only screen and (max-width: 2430px) {
  .xll_image {}
}

@media only screen and (min-width: 2430px) {
  .xlll_image {}
}

body::before {
  @extend .responsive-img;
  content: '';
  position: fixed; /* Фиксируем на одном месте */
  left: 0; right: 0; /* Вся ширин */
  top: 0; bottom: 0; /* Вся высота */
  z-index: -1; /* Фон ниже текста */
  filter: blur(5px); /* Размытие */
  background: url(../data/background_480_320.jpg) center / cover no-repeat;
  /* Параметры фона */
  //.xlll_image {
  //  background: url(../data/background.jpg) center / cover no-repeat;
  //}
  //.xll_image {
  //  background: url(../data/background_2430_1620.jpg) center / cover no-repeat;
  //}
  //.xl_image {
  //  background: url(../data/background_1620_1080.jpg) center / cover no-repeat;
  //}
  //.l_image {
  //  background: url(../data/background_1080_720.jpg) center / cover no-repeat;
  //}
  //.s_image {
  //  background: url(../data/background_720_480.jpg) center / cover no-repeat;
  //}
  //.xs_image {

  //}

}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
  border: 2px solid $accent-color;
}


[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
  background-color: $accent-color;
}

[type="radio"]:not(:checked) + span::after,
[type="radio"]:not(:checked) + span::before,
[type="radio"].with-gap:not(:checked) + span:after {
  border: 2px solid #fff;
}

.modal {
  &.small {
    min-width: 250px;
    width: 25% !important;
  }
}

@media only sceen and (max-device-width: 480px) {
  .modal {
    &.small {
      max-width: 85% !important;
    }
  }
}
